@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css);
@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css);
@import url(https://unpkg.com/aos@2.3.1/dist/aos.css);
.navbar-scroll {
    transition: all 0.7s ease-in-out;
    background-color: #670b6a;
    -webkit-animation-direction: alternate, reverse, normal;
            animation-direction: alternate, reverse, normal;
    height: 60px !important;
}

.navbar-scroll img {
    width: 50px;
}

.logo-navbar {
    width: 80px;
    filter: invert(1);
    transition: all 0.5s;
}

a.nav-link {
    color: #fff;
}

a.nav-link:hover {
    color: #bbb;
}

.social-networks ul li,
a {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}

nav.navbar {
    height: 100px;
}
.footer {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.header .background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#0008, #0008), url("https://www.10wallpaper.com/wallpaper/1680x1050/1407/beauty_fashion_woman-Photo_background_wallpaper_1680x1050.jpg") no-repeat fixed;
    background-size: cover;
    border-radius: 0 0 0 250px;
    display: flex;
    align-items: center;
}

.text-title h1 {
    font-size: 90px;
    color: #fff;
}

.btn-purple-card {
    background: #670b6a;
    color: #fff;
    width: 100px;
}

/* About title */
.mision-vision-container .about-title {
    margin-bottom: 40px;
    text-align: center;
}

.mision-vision-container .about-title h1 {
    font-size: 40px;
}

.size-mvv {
    width: 25%;
}

.size-mvv img {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    -o-object-fit: cover;
       object-fit: cover;
}

/* Header buttons */
.btn-welcome {
    width: 200px;
    padding: 10px 0;
    margin: 0 10px;
    background-color: #670b6a;
    border: 4px solid #670b6a;
    color: #fff;
    font-weight: bold;
    transition: .3s ease all;
}

.btn-welcome:nth-child(2) {
    background: transparent;
}

.btn-welcome:hover:nth-child(2) {
    background-color: #670b6a94;
    box-shadow: none;
}


/*  Buttons animations */
.btn-welcome:hover:nth-child(1) {
    cursor: pointer;
    -webkit-animation: animated .5s ease-in 1;
            animation: animated .5s ease-in 1;
}

@-webkit-keyframes animated {
    from {
        box-shadow: 0 0 0 0 #620b8acc;
    }
    to {
        box-shadow: 0 0 0 40px #620b8a1e;
    }
}

@keyframes animated {
    from {
        box-shadow: 0 0 0 0 #620b8acc;
    }
    to {
        box-shadow: 0 0 0 40px #620b8a1e;
    }
}

    /* Bootstrap */

    /* Components */

    /* Icons */

    /* AOS */

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Signika Negative', sans-serif;
        overflow-x: hidden;
    }

