.header .fondo {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#0008, #0008), url(https://www.10wallpaper.com/wallpaper/1680x1050/1407/beauty_fashion_woman-Photo_background_wallpaper_1680x1050.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 0 0 0 250px;
    display: flex;
    align-items: center;
    margin: 0;
}

.text-title h1 {
    font-size: 90px;
    color: #fff;
}

.btn-purple-card {
    background: #670b6a;
    color: #fff;
    width: 100px;
}


/* about title */

.mision-vision-container .about-title {
    margin-bottom: 40px;
    text-align: center;
}

.mision-vision-container .about-title h1 {
    font-size: 40px;
}

.size-mvv {
    width: 25%;
}

.size-mvv img {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}


/* botones de header */

.btn-welcome {
    width: 200px;
    padding: 10px 0;
    margin: 0 10px;
    background-color: #670b6a;
    border: 4px solid #670b6a;
    color: #fff;
    font-weight: bold;
    transition: .3s ease all;
}

.btn-welcome:nth-child(2) {
    background: transparent;
}

.btn-welcome:hover:nth-child(2) {
    background-color: #670b6a94;
    box-shadow: none;
}


/*  Animaciones de botones */

.btn-welcome:hover:nth-child(1) {
    cursor: pointer;
    animation: animated .5s ease-in 1;
}

@keyframes animated {
    from {
        box-shadow: 0 0 0 0px #620b8acc;
    }
    to {
        box-shadow: 0 0 0 40px #620b8a1e;
    }
}