*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Contenedor principal */

.events-step {
    width: 92%;
    margin: 20px auto;
}


/* Título del formulario */

.events-step__title {
    font-size: 55px;
    color: #670b6a;
    font-style: italic;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}


/* body del formulario */

.events-step__body {
    display: flex;
    align-items: flex-start;
}


/* step */

.step {
    min-width: 100%;
    opacity: 0;
    transition: all .2s linear;
}

.step.active {
    opacity: 1;
}

.step.to-left {
    margin-left: -100%;
}

.step.inactive {
    animation-name: scale;
    animation-duration: .2s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.step__title {
    text-align: center;
    color: #670b6a;
    font-family: serif;
    font-style: italic;
}

.step__subtitle {
    text-align: center;
    font-weight: bold;
    color: #670b6a;
    font-family: serif;
    font-style: italic;
}

.step__footer {
    background: #008080;
    padding: 20px 15px;
    text-align: center;
}


/* step botones */

.step__button {
    width: 200px;
    padding: 10px 0;
    margin: 0 10px;
    background: transparent;
    border: 4px solid #670b6a;
    color: #670b6a;
    font-weight: bold;
    transition: .3s ease all;
}

.img-events img {
    height: 100%;
    object-fit: cover;
}

.carousel-container .carousel-item {
    height: 500px;
}


/* counter  */

.countdown-container {
    margin: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background: #670b6ab9;
}

.countdown-container h4 {
    color: #fff;
    font-style: italic;
}

.countdown-container ul li {
    color: #fff;
    list-style: none;
    display: inline;
    border: solid 1px #fff;
    margin: 7px;
    padding: 10px;
    border-radius: 10px;
}

.countdown-container ul li span {
    color: #fff;
}


/*  */


/* informaction events */

.information-events {
    padding: 10px;
    margin: 5px;
    text-align: justify;
}

.information-events p {
    color: #949294;
    font-size: 20px;
}


/*  */