.navbar-scroll {
    transition: all 0.7s ease-in-out;
    background-color: #670b6a;
    animation-direction: alternate, reverse, normal;
    height: 60px !important;
}

.navbar-scroll img {
    width: 50px;
}

.logo-navbar {
    width: 80px;
    filter: invert(1);
    transition: all 0.5s;
}

a.nav-link {
    color: #fff;
    position: relative;
    margin-left: 20px;
}

a.nav-link:hover {
    color: #fff;
}

a.nav-link:after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 32px;
    transition: all .5s ease;
}

a.nav-link:hover:after {
    width: 100%;
}

a.nav-link:focus {
    color: #fff;
}

.social-networks ul li,
a {
    color: #fff;
    font-size: 20px;
}

nav.navbar {
    height: 100px;
    /* position: relative; */
}