:root {
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc( 90% / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 5s);
}

.marquee {
    width: 90%;
    height: 200px;
    background-color: #f2f2f2;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.marquee:before,
.marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.marquee:before {
    left: 0;
    background: linear-gradient(to right, #fff 0%, transparent 100%);
}

.marquee:after {
    right: 0;
    background: linear-gradient(to left, #fff 0%, transparent 100%);
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
    perspective: 100px;
}

.marquee-content:hover {
    animation-play-state: paused;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX( calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
    }
}

.marquee-content>li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(200px * 3 / 4);
    white-space: nowrap;
    overflow: hidden;
    margin: 10px;
}

.marquee-content>li>img {
    width: 100%;
    height: 100%;
    transition: transform 1s;
}

.marquee-content>li>img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@media (max-width: 600px) {
     :root {
        --marquee-elements-displayed: 3;
    }
    .marquee:before,
    .marquee:after {
        width: 5rem;
    }
}