/* Fonts */

//PT_Sans
@font-face {
  font-family: 'Rubik';
  font-weight: 300;
  src: url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  src:  url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
}
@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  src: url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
}
@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  src: url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
}
